.jason-site {
}

.skill-picker-page {
  position: relative;
  display: inline-block;
  width: 365px;
  height: 667px;
  background: white;
  margin: 50px;
}

.skill-picker-body {
  width: 100%;
  height: calc(100% - 60px);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-button {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}
